.pageStructure{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.titleDiv {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}