@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #F2F2F2;
}
@font-face {
    font-family: 'RobotoMono';
    src: url('/src/fonts/RobotoMono/RobotoMono-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway/Raleway-Medium.ttf') format('truetype');
}